<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="icon" href="/images/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>This site is created by Barış Çetintürk. It uses data from apixu.com and darksky.net.</p>
        <img src="images/robot.png" alt="robot" class="portrait">
    </div>

    {{>footer}}
</body>
</html>